.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Edit Customer
  .modal-body
    form.form-horizontal
      .control-group
        label.control-label(for='inputName') Name
        .controls
          input(type='text', id='inputName', placeholder='Name', name='name')
  .modal-footer
    a.btn(href='#', data-dismiss='modal') Close
    a.btn.btn-primary.save Save
