<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit Task</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" placeholder="Name" name="name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDuration">Duration</label>
        <div class="controls">
          <input type="text" id="inputDuration" name="duration">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputFrom">From</label>
        <div class="controls">
          <div class="input-append date">
            <input size="16" type="text" id="inputFrom" name="from">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputTo">To</label>
        <div class="controls">
          <div class="input-append date">
            <input size="16" type="text" id="inputTo" name="to">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPriority">Priority</label>
        <div class="controls">
          <input type="text" id="inputPriority" placeholder="Priority" name="priority">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="done"> Done
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary save">Save</a>
  </div>
</div>
