<table class="table">
  <colgroup>
    <col>
    <col width="100%">
    <col width="32">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>
        {{#link-to 'task.new' tagName='button' class='btn btn-sm btn-default tip' title='Create task'}}
          <span class="glyphicon glyphicon-plus"></span>
        {{/link-to}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each task in model}}
      <tr>
        <td class="nowrap">
          {{#link-to 'task.edit' task}}
            {{#if task.done}}
              <del>{{task.name}}</del>
            {{else}}
              {{task.name}}
            {{/if}}
          {{/link-to}}
        </td>
        <td colspan="2">
          {{task-progressbar task=task}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
