.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Tasks
  .modal-body
    ul.unstyled.list
  .modal-footer
    a.create.btn(href='#') New task
    a.btn(href='#', data-dismiss='modal') Close
