{
  "auxiliaryCommentBefore": "istanbul ignore next",
  "blacklist": [
    "es3.memberExpressionLiterals",
    "es3.propertyLiterals",
    "es5.properties.mutators"
  ],
  "optional": [
    "runtime",
    "es7.asyncFunctions"
  ],
  "loose": true
}
