.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Projects
  .modal-body
    ul.unstyled.list
  .modal-footer
    a.btn.create(href='#', data-dismiss='modal') New project
    a.btn(href='#', data-dismiss='modal') Close
