extends layout

append scripts
  script
    Timed.tasks     = !{JSON.stringify(tasks)}
    Timed.projects  = !{JSON.stringify(projects)}
    Timed.customers = !{JSON.stringify(customers)}

block content
  .row-fluid
    #timeline.span2.mono
    #dashboard.span10.pull-right
