doctype 5
html
  head
    title= settings.title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/style.css')
    script
      Timed = {}
    - if (user)
      script(src='/js/require.js', data-main='/js/main')
  body
    block navbar
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') Timed
            .nav-collapse.collapse
              ul.nav
                - if (user)
                  li(class=req.route.path == '/' ? 'active' : '')
                    a(href='/') Home
                  li
                    a#projects(href='#projects') Projects
                  li
                    a#customers(href='#customers') Customers
                  li
                    a#users(href='#users') Users
                li(class=req.route.path == '/about' ? 'active' : '')
                  a(href='/about') About
              - if (user)
                ul.nav.pull-right
                  li
                    a(href='/logout') Logout

    #main.container-fluid
      block content
