extends layout

block navbar
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Timed

block content
  .row-fluid
    .span4.offset4
      form.form-horizontal(action="/login", method="post")
        - if (typeof message != 'undefined' && message.length)
          .alert
            button.close(type="button", data-dismiss="alert") &times;
            - message.forEach(function(message) {
              div
                strong= message
            - })
        .control-group
          label.control-label(for='username') Username
          .controls
            input(placeholder="Username", name="username", type="text")
        .control-group
          label.control-label(for='password') Password
          .controls
            input(placeholder="Password", name="password", type="password")
        .control-group
          .controls
            label.checkbox
              input(name="cookie", type="checkbox")
              | Remember me
            button.btn(type="submit") Sign in
