{{#input-label class="form-group" labelClass="col-sm-2" label="Github Repo" as |labelId|}}
  <div class="col-sm-10">
    {{input id=labelId placeholder='Repo name' value=model.tracker.data.repo class='form-control' autocomplete='false'}}
  </div>
{{/input-label}}
{{#input-label class="form-group" labelClass="col-sm-2" label="API Key" as |labelId|}}
  <div class="col-sm-10">
    {{input id=labelId placeholder='' value=model.tracker.data.apikey class='form-control' autocomplete='false'}}
    <small>Get your API-Key <a href="https://github.com/settings/applications" target="_blank">here!</a></small>
  </div>
{{/input-label}}
