<h1>{{follow-project project=model}} {{model.name}}</h1>

<ul class="nav nav-tabs">
  {{#active-link}}
    {{#link-to 'project.edit.edit' model}}Edit{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'task'}}Tasks{{/link-to}}
  {{/active-link}}
</ul>

<br>

{{outlet}}
