{{follow-project project=model class='h1'}}

<h1 class="dib" data-model-id={{model.id}}>{{model.name}}</h1>

<ul class="nav nav-tabs">
  <li>
    {{#link-to 'project.edit.edit' model}}Edit{{/link-to}}
  </li>
  <li>
    {{#link-to 'task' model}}Tasks{{/link-to}}
  </li>
</ul>

<br>

{{liquid-outlet}}
