<h1>{{follow-project project=model}} {{model.name}}</h1>

<ul class="nav nav-tabs">
  {{#link-to 'project.edit.edit' model tagName='li'}}
    {{#link-to 'project.edit.edit' model}}Edit{{/link-to}}
  {{/link-to}}

  {{#link-to 'task' tagName='li'}}
    {{#link-to 'task'}}Tasks{{/link-to}}
  {{/link-to}}
</ul>

<br>

{{outlet}}
