.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Edit User
  .modal-body
    form.form-horizontal
      .control-group
        label.control-label(for='inputName') Name
        .controls
          input#inputName(type='text', placeholder='Name', name='name')
      .control-group
        label.control-label(for='inputPassword') Password
        .controls
          input#inputPassword(type='password', placeholder='Password', name='password')
        .controls
          input#verifyPassword(type='password', placeholder='Repeat Password')
  .modal-footer
    a.btn(href='#', data-dismiss='modal') Close
    a.btn.btn-primary.save(href='#') Save
