body { padding-top: 60px }
.mono { font-family: monospace }
.timeline { list-style: none; margin: 0 }
.timeline li { position: relative; width: 50% }
.timeline .attendance, .timeline .activity, .timeline .worktime { position: absolute; height: 4px; left: 28px; top: 8px }
.timeline .attendance { background: rgba(196, 196, 196, .7) }
.timeline .activity   { background: rgba(156, 172, 238, .9) }
.timeline .overtime   { background: rgba(196, 172, 238, .9) }
.timeline .undertime  { background: rgba(255, 156, 156, .9) }
.timeline .worktime   { width: 100%; height: 6px; top: 7px; border-right: 1px solid #000 }

/* Bugfixes */
.datepicker, .daterangepicker { z-index: 9999999 }
.controls .slider { vertical-align: sub; display: inline-block; width: 100% }
.tooltip { white-space: nowrap }

/* Display */
.di  { display: inline       }
.db  { display: block        }
.dib { display: inline-block }

/* Cursors */
.pointer { cursor: pointer !important }

/* Text algnment */
.tar { text-align: right }

/* Borders */
.b0 { border: 0 !important }

/* spacing helpers from oocss
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan { padding-top: 0 !important }
.pts,.pvs,.pas { padding-top: 5px !important }
.ptm,.pvm,.pam { padding-top: 10px !important }
.ptl,.pvl,.pal { padding-top: 20px !important }
.prn,.phn,.pan { padding-right: 0 !important }
.prs,.phs,.pas { padding-right: 5px !important }
.prm,.phm,.pam { padding-right: 10px !important }
.prl,.phl,.pal { padding-right: 20px !important }
.pbn,.pvn,.pan { padding-bottom: 0 !important }
.pbs,.pvs,.pas { padding-bottom: 5px !important }
.pbm,.pvm,.pam { padding-bottom: 10px !important }
.pbl,.pvl,.pal { padding-bottom: 20px !important }
.pln,.phn,.pan { padding-left: 0 !important }
.pls,.phs,.pas { padding-left: 5px !important }
.plm,.phm,.pam { padding-left: 10px !important }
.pll,.phl,.pal { padding-left: 20px !important }
.mtn,.mvn,.man { margin-top: 0 !important }
.mts,.mvs,.mas { margin-top: 5px !important }
.mtm,.mvm,.mam { margin-top: 10px !important }
.mtl,.mvl,.mal { margin-top: 20px !important }
.mrn,.mhn,.man { margin-right: 0 !important }
.mrs,.mhs,.mas { margin-right: 5px !important }
.mrm,.mhm,.mam { margin-right: 10px !important }
.mrl,.mhl,.mal { margin-right: 20px !important }
.mbn,.mvn,.man { margin-bottom: 0 !important }
.mbs,.mvs,.mas { margin-bottom: 5px !important }
.mbm,.mvm,.mam { margin-bottom: 10px !important }
.mbl,.mvl,.mal { margin-bottom: 20px !important }
.mln,.mhn,.man { margin-left: 0 !important }
.mls,.mhs,.mas { margin-left: 5px !important }
.mlm,.mhm,.mam { margin-left: 10px !important }
.mll,.mhl,.mal { margin-left: 20px !important }
