<h1>{{model.name}} - {{model.fullName}}</h1>

<ul class="nav nav-tabs">
  {{#active-link}}
    {{#link-to 'user.edit.edit' model}}Edit{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'user.edit.worktime'}}Worktime{{/link-to}}
  {{/active-link}}
</ul>

<br>

{{liquid-outlet}}
