<div class="container">
  <h1>Users</h1>

  <ul class="unstyled list">
    {{#each user in model}}
      <li>
        {{#link-to 'user.edit' user}}{{user.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
