{{#liquid-if model.isNew use='toUp'}}
  <h1>Create team</h1>

  <br>
{{/liquid-if}}

<form class="form-horizontal" {{action 'submit' on='submit'}}>
  {{#input-label class="form-group" labelClass="col-sm-2" label="Name" as |labelId|}}
    {{input id=labelId placeholder='Team name' value=model.name class='form-control' autocomplete='false'}}
  {{/input-label}}
  {{#input-label class="form-group" labelClass="col-sm-2" label="Users" as |labelId|}}
    {{ember-selectize
      id               = labelId
      content          = allUsers
      selection        = model.users
      multiple         = true
      optionLabelPath  = 'content.longName'
      optionValuePath  = 'content.id'
      }}
  {{/input-label}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      {{#if model.isNew}}
        Create team
      {{else}}
        Update team
      {{/if}}
    </button>

    {{#unless model.isNew}}
      {{#delete-button class='pull-right' action='delete'}}
        Delete team
      {{/delete-button}}
    {{/unless}}
  </div>
</form>
