<div class="center-block">
  <h1>About Timed</h1>
  <p>
    Timed is a timetracking software written by
    <a href="mailto:damian.senn@gmail.com">Damian Senn</a>
  </p>

  <p>
    <iframe src="https://ghbtns.com/github-btn.html?user=topaxi&repo=timed&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </p>
</div>
