<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Timed{{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li>{{#link-to 'user'}}Users{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a class="dropdown-toggle pointer" data-toggle="dropdown">
              {{session.user.name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="pointer" {{action 'invalidateSession'}}>Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<div id="main" class="container">{{outlet}}</div>
