<div class="grid">
  <div class="grid-cell grid-cell--2of12">
    <div class="list-group">
      {{#link-to 'customer.index' class="list-group-item"}}Customers{{/link-to}}

      {{#link-to 'customer.new' class="list-group-item"}}Create customer{{/link-to}}
    </div>
  </div>

  <div class="grid-cell grid-cell--10of12">{{liquid-outlet}}</div>
</div>
