<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {{#active-link}}
        {{#link-to 'customer.index'}}Customers{{/link-to}}
      {{/active-link}}

      {{#active-link}}
        {{#link-to 'customer.new'}}Create customer{{/link-to}}
      {{/active-link}}
    </ul>
  </div>

  <div class="col-md-10">
    {{outlet}}
  </div>
</div>
