<div class="row">
  <div class="col-md-4 col-md-push-8">
    {{#if model.currentAssignments}}
      <h2>Assigned Projects</h2>

      {{#each assignment in model.currentAssignments}}
        {{assigned-project assignment=assignment}}
      {{/each}}
    {{/if}}

    {{#if model.projects}}
      <h2>{{#link-to 'project'}}Followed Projects{{/link-to}}</h2>

      {{#each project in model.projects}}
        {{followed-project project=project}}
      {{/each}}
    {{/if}}
  </div>

  {{attendance-list user=model day=day class='col-md-8 col-md-pull-4' openModal='openModal'}}
</div>
