<form class="form-horizontal" {{action 'authenticate' on='submit'}}>
  <div class="container">
    <div class="control-group">
      <label for="identification">Login</label>
      {{input id='identification' placeholder='Username' value=identification}}
    </div>
    <div class="control-group">
      <label for="password">Password</label>
      {{input id='password' placeholder='Password' type='password' value=password}}
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          {{input type='checkbox' value='cookie'}}
          Remember me
        </label>
        <button type="submit">Sign in</button>
      </div>
    </div>
  </div>
</form>
