<div class="row">
  <div class="col-md-2">
    <div class="nav nav-pills nav-stacked">
      {{#link-to 'team.index' tagName='li'}}
        {{#link-to 'team.index'}}Teams{{/link-to}}
      {{/link-to}}

      {{#link-to 'team.new' tagName='li'}}
        {{#link-to 'team.new'}}Create team{{/link-to}}
      {{/link-to}}
    </div>
  </div>

  <div class="col-md-10">
    {{outlet}}
  </div>
</div>
