<div class="grid">
  <div class="grid-cell grid-cell--2of12">
    <ul class="list-group">
        {{#link-to 'team.index' class="list-group-item"}}Teams{{/link-to}}

        {{#link-to 'team.new' class="list-group-item"}}Create team{{/link-to}}
    </ul>
  </div>

  <div class="grid-cell grid-cell--10of12">{{liquid-outlet}}</div>
</div>
