<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {{#active-link}}
        {{#link-to 'team.index'}}Teams{{/link-to}}
      {{/active-link}}

      {{#active-link}}
        {{#link-to 'team.new'}}Create team{{/link-to}}
      {{/active-link}}
    </ul>
  </div>

  <div class="col-md-10">{{liquid-outlet}}</div>
</div>
