<div class="grid">
  <div class="grid-cell grid-cell--2of12">
    <ul class="list-group">
        {{#link-to 'user.index' class="list-group-item"}}Users{{/link-to}}

        {{#link-to 'user.new' class="list-group-item"}}Create user{{/link-to}}
    </ul>
  </div>

  <div class="grid-cell grid-cell--10of12">{{liquid-outlet}}</div>
</div>
