<colgroup>
  <col width="32">
  <col>
</colgroup>
<thead>
  <tr>
    <th colspan="2">
      {{#link-to 'project.edit' project}}
        {{project.name}}
      {{/link-to}}
    </th>
  </tr>
</thead>
<tbody>
  {{#each task in tasks}}
    <tr>
      <td>{{track-task btnClass='btn-xs' task=task}}</td>
      <td>
        {{#link-to 'task.edit' project task}}
          {{task.name}}
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
</tbody>
