{{log isFollowing}}
<button {{action 'follow' project}} {{bind-attr class=':btn isFollowing:btn-success:btn-default'}}>
  <span {{bind-attr class=':glyphicon isFollowing:glyphicon-ok:glyphicon-plus-sign'}}></span>
</button>
