<button {{action 'follow'}} {{bind-attr class=':btn isFollowing:btn-success:btn-default btnClass :tip' title=title}}>
  <span {{bind-attr class=':glyphicon isFollowing:glyphicon-ok:glyphicon-plus-sign'}}></span>
</button>
