<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

{{#if user.currentActivity.task}}
  <div class="activity mbm">
    {{track-task task=user.currentActivity.task}}

    {{user.currentActivity.task.name}}

    <span class="edit-comment pointer"></span>
  </div>
{{/if}}
