<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

{{#if user.currentActivity.task}}
  <div class="activity mbm">
    {{track-task task=user.currentActivity.task}}

    {{user.currentActivity.task.name}}

    <a class="edit-comment pointer" data-title="Comment activity" data-type="text"></a>
  </div>
{{/if}}
