{{#modal-dialog title='Edit activity' ok='save' okText='Save' close='closeModal'}}
  <form class="form" {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label for="task">Task</label>
      {{view Ember.Select
             id              = 'task'
             class           = 'form-control'
             content         = tasks.content
             value           = task.content
             optionLabelPath = 'content.name'
             optionValuePath = 'content'
             }}
    </div>
    <div class="form-group">
      <label for="from">From</label>
      {{input id='from' value=from class='form-control' placeholder=dateFormat}}
    </div>
    <div class="form-group">
      <label for="to">To</label>
      {{input id='to' value=to class='form-control' placeholder=dateFormat}}
    </div>
  </form>
{{/modal-dialog}}
