<h1>Customers</h1>

{{#liquid-with pagedModels as customers}}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each customer in customers}}
        <tr>
          <td>
            <div class="dib" data-model-id={{customer.id}}>
              {{#link-to 'customer.edit' customer}}{{customer.name}}{{/link-to}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/liquid-with}}

{{#if showPager}}
  {{pagination-pager current=page count=totalPages}}
{{/if}}
