<h1>{{model.name}}</h1>

<ul class="nav nav-tabs">
  {{#active-link}}
    {{#link-to 'team.edit.edit' model}}Edit{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'team.edit.manage'}}Manage{{/link-to}}
  {{/active-link}}
</ul>

<br>

{{liquid-outlet}}
